@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .bg-gray-900 {
    background-color: #1a202c; /* Dark background */
  }
  
  .bg-gray-100 {
    background-color: #f7fafc; /* Light background */
  }
  
  .text-white {
    color: #ffffff; /* Light text */
  }
  
  .text-gray-900 {
    color: #1a202c; /* Dark text */
  }

  /* Add this in your CSS file */
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Add this CSS to your global styles or Tailwind CSS file */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7; /* scrollbar color for light mode */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #edf2f7; /* background for light mode */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* thumb color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0aec0; /* thumb hover color */
}

/* Dark mode scrollbar */
@media (prefers-color-scheme: dark) {
  .custom-scrollbar {
    scrollbar-color: #4a5568 #2d3748; /* scrollbar color for dark mode */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #2d3748; /* background for dark mode */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* thumb color for dark mode */
  }
}

  
  /* Add other styles you need for dark mode */
  